init:
  - git config --global core.autocrlf input
  - net start MSSQL$SQL2019
image: Visual Studio 2022
build_script:
  - cmd: build.cmd GenerateDocs
test: off
version: 0.0.1.{build}
artifacts:
  - path: bin
    name: bin
