source https://www.nuget.org/api/v2/
generate_load_scripts: on
storage: none
github fsprojects/FSharp.TypeProviders.SDK:28a24a69ada68ebd1ad25226634f4608e4875493 src/ProvidedTypes.fs
github fsprojects/FSharp.TypeProviders.SDK:28a24a69ada68ebd1ad25226634f4608e4875493 src/ProvidedTypes.fsi
github fsprojects/FSharp.TypeProviders.SDK:28a24a69ada68ebd1ad25226634f4608e4875493 src/ProvidedTypesTesting.fs

group Build
	source https://www.nuget.org/api/v2/
	generate_load_scripts: on
	
	
	nuget Fun.Build
	nuget FSharp.Core
	
	nuget Fake.Core.Process
	nuget Fake.Core.ReleaseNotes
	nuget Fake.Core.Target
	nuget Fake.Core.Trace
	nuget Fake.DotNet.AssemblyInfoFile
	nuget Fake.DotNet.Cli
	nuget Fake.DotNet.MSBuild
	nuget Fake.DotNet.NuGet
	nuget Fake.DotNet.Testing.XUnit2
	nuget Fake.Tools.Git

	nuget FSharp.Formatting #= 2.4.1
	nuget FSharp.Compiler.Service #= 0.0.36
	#nuget RazorEngine #= 3.3.0

	nuget NuGet.CommandLine
	nuget System.Data.SqlClient
	
	nuget System.Configuration.ConfigurationManager

group DesignTime
	source https://www.nuget.org/api/v2/
	framework: >= net461, >= netstandard20
	storage: none

	nuget System.Configuration.ConfigurationManager
	nuget System.Data.Common
	nuget System.Data.SqlClient
	nuget System.Runtime.Caching
	nuget FSharp.Core
	nuget Microsoft.SqlServer.TransactSql.ScriptDom
	nuget Microsoft.SqlServer.Types
	
group Test
	source https://www.nuget.org/api/v2/

	nuget FSharp.Core redirects:force
	nuget System.Data.SqlClient
	nuget System.Configuration.ConfigurationManager
	
	nuget Microsoft.SqlServer.Types ~> 12
	nuget Newtonsoft.Json
	nuget xunit = 2.4.1
	nuget xunit.runner.visualstudio = 2.4.1

group Net40
	source https://www.nuget.org/api/v2/
	framework: net40
	storage: none

	nuget FSharp.Core = 4.1.18

group TestProjects
	source https://www.nuget.org/api/v2/
	framework: >= net40, >= netcoreapp2.0, >= netstandard2.0
	storage: none

	nuget FSharp.Core = 4.3.4

	nuget System.Data.SqlClient
	nuget System.Configuration.ConfigurationManager

group Samples
	source https://www.nuget.org/api/v2/
	framework: >= net40, >= netcoreapp2.0, >= netstandard2.0
	redirects: on
	
	nuget FSharp.Core = 4.5.2 redirects: force
	
	nuget Microsoft.AspNet.WebApi
	nuget Microsoft.AspNet.WebApi.Client
	nuget Microsoft.AspNet.WebApi.Core
	nuget Microsoft.AspNet.WebApi.WebHost
	nuget Microsoft.SqlServer.Types

	nuget Newtonsoft.Json redirects: force
	nuget FSharp.Data.SqlClient
	