group Build
	framework: netstandard2.0, net462
	redirects: force
	source https://api.nuget.org/v3/index.json
	
	nuget FSharp.Core	
	nuget System.Runtime
	nuget System.Runtime.Caching prerelease
	nuget System.Runtime.Loader
	nuget System.Runtime.Serialization.Primitives
	nuget System.Runtime.Serialization.Formatters
	nuget System.IO
	nuget System.Console
	nuget System.Reflection
	nuget System.Reflection.TypeExtensions
	nuget System.Data.SqlClient prerelease
	nuget System.Data.Common
	nuget System.Configuration.ConfigurationManager prerelease
	nuget Microsoft.SqlServer.TransactSql.ScriptDom

	# These are for TPSDK testing of TPDTCs against .NET Core App 2.0, to make sure references can be found in a known packages/... location.  
	# The TPSDK testing helpers like these to be placed in pacakges/...
	# see https://github.com/fsprojects/FSharp.TypeProviders.SDK/blob/0c0c9d11135039821a380f60ec21c701354e8cdb/src/ProvidedTypesTesting.fs
	nuget NetStandard.Library.NetFramework
	nuget Microsoft.NETCore.App

	github fsprojects/FSharp.TypeProviders.SDK src/ProvidedTypes.fs
	github fsprojects/FSharp.TypeProviders.SDK src/ProvidedTypes.fsi
	github fsprojects/FSharp.TypeProviders.SDK src/ProvidedTypesTesting.fs

group Tests
	framework: net462, netcoreapp2.0
	redirects: force
	source https://api.nuget.org/v3/index.json

	nuget FSharp.Core
	nuget Newtonsoft.Json
	nuget xunit

group Samples
	framework: netstandard2.0, net462, netcoreapp2.0
	redirects: force
	source https://api.nuget.org/v3/index.json

	nuget FSharp.Core
	nuget FSharp.Data.SqlClient
	nuget Microsoft.AspNet.WebApi
	nuget Microsoft.AspNet.WebApi.Client
	nuget Microsoft.AspNet.WebApi.Core
	nuget Microsoft.AspNet.WebApi.WebHost