source https://www.nuget.org/api/v2/
generate_load_scripts: on

github fsprojects/FSharp.TypeProviders.SDK:28a24a69ada68ebd1ad25226634f4608e4875493 src/ProvidedTypes.fs
github fsprojects/FSharp.TypeProviders.SDK:28a24a69ada68ebd1ad25226634f4608e4875493 src/ProvidedTypes.fsi
github fsprojects/FSharp.TypeProviders.SDK:28a24a69ada68ebd1ad25226634f4608e4875493 src/ProvidedTypesTesting.fs

group Build
	source https://www.nuget.org/api/v2/
	framework: >= net451
	generate_load_scripts: on

	nuget FAKE     = 5.8.4
	nuget Fake.Lib = 5.8.4

	nuget FSharp.Formatting = 2.4.1
	nuget FSharp.Compiler.Service = 0.0.36
	nuget RazorEngine = 3.3.0

	nuget NuGet.CommandLine

group Test
	source https://www.nuget.org/api/v2/
	framework: net461, netcoreapp2.0	

	nuget FSharp.Core = 4.5.2 redirects:force
	nuget System.Data.SqlClient
	nuget System.Configuration.ConfigurationManager

	nuget Microsoft.SqlServer.Types ~> 12
	nuget Newtonsoft.Json
	nuget xunit = 2.4.1
	nuget xunit.runner.visualstudio = 2.4.1

group Net40
	source https://www.nuget.org/api/v2/
	framework: net40

	nuget FSharp.Core = 4.1.18

group TestProjects
	source https://www.nuget.org/api/v2/
	framework: >= net40, netcoreapp2.0, netstandard2.0

	nuget FSharp.Core = 4.3.4

	nuget System.Data.SqlClient
	nuget System.Configuration.ConfigurationManager

group Samples
	source https://www.nuget.org/api/v2/
	framework: >= net40

	nuget FSharp.Core = 4.5.2
	
	nuget Microsoft.AspNet.WebApi
	nuget Microsoft.AspNet.WebApi.Client
	nuget Microsoft.AspNet.WebApi.Core
	nuget Microsoft.AspNet.WebApi.WebHost

	nuget Newtonsoft.Json
	nuget FSharp.Data.SqlClient
