<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="FSharp.Core" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.1.0" newVersion="4.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="10.0.0.0-12.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <!--<add name="AdventureWorks" connectionString="Data Source=etldev.database.windows.net;Initial Catalog=AdventureWorks2012;Integrated Security=False;User ID=sqladmin;Password='8~7*-%%Y!!8.^^Ow0+CJ';Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />-->
    <add name="AdventureWorks" connectionString="Data Source=.;Initial Catalog=AdventureWorks2014;Integrated Security=True" />
    <add name="MasterDb" connectionString="Data Source=.;Initial Catalog=master;Integrated Security=True" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <system.diagnostics>
    <switches>
      <add name="DataMessagesSwitch" value="0" />
    </switches>
  </system.diagnostics>
</configuration>