<connectionStrings>
  <add name="AdventureWorks" connectionString="Data Source=.;Initial Catalog=AdventureWorks2012;Integrated Security=True" />
  <add name="AdventureWorksDesignOnly" connectionString="Data Source=.;Initial Catalog=AdventureWorks2012;Integrated Security=True" />
  <add name="MasterDb" connectionString="Data Source=.;Initial Catalog=master;Integrated Security=True" />
</connectionStrings>
