<connectionStrings>
  <add name="AdventureWorks2012" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=AdventureWorks2012;Integrated Security=True" />
  <add name="MasterDb" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=master;Integrated Security=True" />
</connectionStrings>
