<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="FSharp.Data.SqlClient" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <runtime>
    
  <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  <dependentAssembly>
    <Paket>True</Paket>
    <assemblyIdentity name="SharpYaml" publicKeyToken="1ced8108e942bc02" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="1.6.2.0" />
  </dependentAssembly>
  <dependentAssembly>
    <Paket>True</Paket>
    <assemblyIdentity name="xunit" publicKeyToken="8d05b1bb7a6fdb6c" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="1.9.2.1705" />
  </dependentAssembly>
  <dependentAssembly>
    <Paket>True</Paket>
    <assemblyIdentity name="FSharp.Core" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="4.5.0.0" />
  </dependentAssembly>
</assemblyBinding></runtime>
  <!--<connectionStrings configSource="connectionStrings.Azure.config"/>-->
  <connectionStrings>
    <add name="AdventureWorks" connectionString="Data Source=.;Initial Catalog=AdventureWorks2012;Integrated Security=True" />
    <add name="MasterDb" connectionString="Data Source=.;Initial Catalog=master;Integrated Security=True" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <system.diagnostics>
    <switches>
      <add name="DataMessagesSwitch" value="0" />
    </switches>
  </system.diagnostics>
</configuration>