<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="FSharp.Data.SqlClient" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <!--<connectionStrings configSource="connectionStrings.Azure.config"/>-->
  <connectionStrings>
    <add name="AdventureWorks" connectionString="Data Source=.;Initial Catalog=AdventureWorks2012;Integrated Security=True" />
    <add name="MasterDb" connectionString="Data Source=.;Initial Catalog=master;Integrated Security=True" />
  </connectionStrings>
</configuration>