<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="FSharp.Data.SqlClient" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <connectionStrings>
    <add name="AdventureWorks" connectionString="Data Source=localhost,1433;Initial Catalog=AdventureWorks2012;User ID=SA;Password=YourStrong@Passw0rd;TrustServerCertificate=True;" />
    <add name="MasterDb" connectionString="Data Source=localhost,1433;Initial Catalog=master;User ID=SA;Password=YourStrong@Passw0rd;TrustServerCertificate=true" />
  </connectionStrings>
</configuration>