<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="FSharp.Data.SqlClient" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <!--<connectionStrings configSource="connectionStrings.Azure.config"/>-->
  <connectionStrings>
    <add name="AdventureWorks" connectionString="Data Source=.;Initial Catalog=AdventureWorks2012;Integrated Security=True" />
    <add name="MasterDb" connectionString="Data Source=.;Initial Catalog=master;Integrated Security=True" />
  </connectionStrings>
<runtime><assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  <dependentAssembly>
    <Paket>True</Paket>
    <assemblyIdentity name="FSharp.Core" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="5.0.0.0" />
  </dependentAssembly>
</assemblyBinding></runtime></configuration>