<connectionStrings>
  <add name="AdventureWorks" connectionString="Data Source=localhost,1433;Initial Catalog=AdventureWorks2012;User ID=SA;Password=YourStrong@Passw0rd;TrustServerCertificate=true" />
  <add name="AdventureWorksDesignOnly" connectionString="Data Source=localhost,1433;Initial Catalog=AdventureWorks2012;User ID=SA;Password=YourStrong@Passw0rd;TrustServerCertificate=true" />
  <add name="MasterDb" connectionString="Data Source=localhost,1433;Initial Catalog=master;User ID=SA;Password=YourStrong@Passw0rd;TrustServerCertificate=true" />
</connectionStrings>